<h2>Patients</h2>


<form>
    <label>Find Patients by Name</label><br>    
    <input 
        placeholder="Search ..." 
        name="searchTerm"
        [(ngModel)]="searchTerm"
        class="form-control"
        type="text" 
        required
        #searchInput="ngModel"
        [ngClass]="{'is-invalid': searchInput.touched && searchInput.invalid}"
    />
    <div class="alert alert-danger" *ngIf='searchInput.touched && searchInput.invalid'>Search term is required.</div>
</form>

@if (!patients().length) {
    <p>Loading...</p>
}
<ul class="patient-grid">
    @for (patient of patients() | filterPatients:searchTerm(); track patient.id) {
        <app-patient-item [patient]="patient" class="patient-box"></app-patient-item>
    }
</ul>