<h2>Recipes</h2>


<form class="search-id-box">
    <label>Find by ID</label>
    <input 
        placeholder="ID ..." 
        name="searchID"
        [(ngModel)]="searchID"
        class="form-control"
        type="number"
        #searchInput="ngModel"
        [ngClass]="{'is-invalid': searchInput.touched && searchInput.invalid}"
    />
    <div class="alert alert-danger" *ngIf='searchInput.touched && searchInput.invalid'>Search term is required.</div>
    <button type="button" (click)="onSearchIDChange(searchInput.value)" [disabled]="searchInput.value < 0">Send</button>
    <button type="button" (click)="onSearchIDChange(ngInfinity())">Reset</button>
</form>

<form class="searchbox">
    <label>Filter by Category</label>
    <input placeholder="Category ..." name="searchCategory" type="text" [(ngModel)]="searchCategory"/>
</form>

<form class="searchbox">
    <label>Filter by Cuisine</label>
    <input placeholder="Cuisine ..." name="searchCuisine" type="text" [(ngModel)]="searchCuisine"/>
</form>

<form class="searchbox">
    <label>Upperbound Calories</label>
    <input placeholder="Infinity" name="upperCalories" type="number" [(ngModel)]="upperCalories"/>
</form>

<form class="checkbox-style">
    <label>Only Vegetarian</label>
    <input type="checkbox" name="OnlyVegetarian" [(ngModel)]="OnlyVegetarian"/>
</form>

@if (!recipes().length) {
    <p>Loading...</p>
}

<ul class="recipe-grid">
    @for (recipe of recipes() | filterRecipes:searchCategory():searchCuisine():upperCalories():OnlyVegetarian(); track recipe.id) {
        <app-recipe-item [recipe]="recipe" class="recipe-box"></app-recipe-item>
    }
</ul>